
@import url(./reset.css);
@import url(./sideBar.css);
@import url(./icons.css);
@import url(./SearchBar.css);
@import url(./maxCaracteres.css);
@import url(./PasswordSection.css);
@font-face {
  font-family: 'Inter';
  src: url('/Vault-Ninja/Font/Inter-VariableFont_slnt\,wght.ttf') format('woff');
  /* Add additional src declarations for different font file formats if needed */
  font-weight:lighter;
  font-style:normal;
}

h3{
 margin-top: none;

}

p{
  margin-bottom: none;
}

#app{
  display: flex;
  justify-content: center;

}

body {
 
  font-family: 'Inter', sans-serif;

  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  display: none;
}
