.PasswordElement{

    padding: 1em;
    margin-top: 3em;
    border-radius: 1.5em;
    color: grey;
}

.TitlePs{
    font-size: 15px;
    text-align: center;
    margin-bottom: 1em;
}

.PassworDivision{
    display: flex;
    align-items: center;
    gap: 4em;
}

.InputPswdf{
    padding: 1.5em;
    background-color: rgb(245, 245, 245);
    border-radius: 1.5em;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.054));
}

.PasswordIput{
    border: none;
    outline: none;
    padding: 1em;
    border-radius: 3em;
    width: 250PX;
    background: none;
    color: rgb(0, 195, 255);
    text-align: center;
    font-size: 15px;
}
.PasswordIput::placeholder{
    color: rgb(195, 195, 195);
}
.PsswordIndicatroDots{
    padding: 0.6em;
    background-color: rgb(223, 223, 223);
    border-radius: 3em;
}

.DotIndicator{
    display: flex
}
.DotWraper{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 1em;
    color: rgb(181, 181, 181);
}

.DIVdOT{
    display: flex;
    align-items: center;
    gap: 10px;
}

.PasswordIndicator{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}
.PSDRF{
    margin-left: 1em;
    color: rgb(181, 181, 181);
}