.PasswordElement{
    padding: 1em;
    margin-top: 3em;
    border-radius: 1.5em;
    color: grey;
}

.TitlePs{
    font-size: 15px;
    text-align: center;
    margin-bottom: 1em;
}

.PassworDivision{
    display: flex;
    align-items: center;
    gap: 4em;
}

.InputPswdf{
    padding: 1.5em;
    background-color: rgb(254, 255, 255);
    border-radius: 1.5em;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.057));
}

.PasswordIput{
    border: none;
    outline: none;
    padding: 1em;
    border-radius: 3em;
    width: 250PX;
    background: none;
    color: rgb(0, 195, 255);
    text-align: center;
    font-size: 15px;
}
.PasswordIput::placeholder{
    color: rgb(195, 195, 195);
}
.PsswordIndicatroDots{
    padding: 0.6em;
    background-color: rgb(223, 223, 223);
    border-radius: 3em;
}

.DotIndicator{
    display: flex
}
.DotWraper{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 1em;
    color: rgb(181, 181, 181);
}

.DIVdOT{
    display: flex;
    align-items: center;
    gap: 10px;
}

.PasswordIndicator{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}
.PSDRF{
    margin-left: 1em;
    color: rgb(181, 181, 181);
}

.PassowrdDETelem {
    display: flex;
    align-items: center;
}


.loadingContent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 10px;
    position: fixed;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.unloadElements{
    padding: 4.4em 0;
    width: 490px;
    border-radius: 1.5em;
    background-color: rgb(236, 236, 236);
}

.MoreContent{
    position: relative;
 
    top: -10em;
    left: 20em;;

   
}

.QrCode{
    background-color: rgba(204, 204, 204, 0.175);
    padding: 1em;
    border-radius: 1em;
    backdrop-filter: blur(10px);
}

.MoreContentInside{
    position: absolute;

  
}